<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /eBloodBank/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /eBloodBank/index.php [L]
</IfModule>