@import "normalize.css";

@font-face {
    font-family: 'ge_ss_unique_light';
    src: url('../fonts/ge_ss_unique_light-webfont.eot');
    src: url('../fonts/ge_ss_unique_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ge_ss_unique_light-webfont.woff2') format('woff2'),
         url('../fonts/ge_ss_unique_light-webfont.woff') format('woff'),
         url('../fonts/ge_ss_unique_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    margin: 0;
    color: #333;
    height: 100%;
    direction: rtl;
    font-size: 14px;
    line-height: 20px;
    unicode-bidi: embed;
    background-color: #fff;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
}

a {
    color: #333;
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

pre {
    color: #666;
    white-space: pre;
    overflow-x: auto;
    line-height: 1.5em;
    margin: 10px auto;
    padding: 10px 15px;
    background: #F7F7F7;
    word-break: keep-all;
    border: 1px solid #CCC;
}

.btn,
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
    outline: 0;
    color: #333;
    width: auto;
    cursor: pointer;
    background: #fff;
    overflow: visible;
    border: 1px solid;
    text-decoration: none;
    padding: 5px 10px 5px;
    text-shadow: 1px 1px 1px #fff;
    border-color: #ddd #bbb #999;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.btn:hover, 
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
    background: #eee;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.btn:active,
button:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"]:active {
    color: #888;
    background: #d5ddd8;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
            box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/**
 * The Wrapper
 * ----------------------------------------------------------------------------
 */

#wrapper {
    width: 100%;
}
.wrapper {
    height: 100%;
    width: 960px;
    margin: 0 auto;
    position: relative;
}

/**
 * The Header
 * ----------------------------------------------------------------------------
 */

#header {
    height: 100px;
    background: #fff;
}
#site-title {
    margin: 0;
    color: #d81e05;
    font: 18pt "ge_ss_unique_light";
    text-align: center;
    line-height: 80px;
}
#primary-nav {
    width: 100%;
    height: 40px;
    position: absolute;
    background: #d81e05;
    bottom: -20px; right: 0px; left: 0px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

/* Dropdown Menu */

.dropdown {
    display: block;
    position: relative;
}
ul.dropdown,
.dropdown ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.dropdown li {
    color: #fff;
    padding: 0 10px;
    line-height: 40px;
    position: relative;
    display: inline-block;
}
.dropdown li a {
    color: #fff;
    text-decoration: none;
}
.dropdown li:hover,
.dropdown li:focus {
    background-color: #ec3627;
}
.dropdown ul {
    position: absolute;
    display: none;
    right: 0px;
    top: 100%;
}

.dropdown li:hover > ul,
.dropdown li:active > ul {
    display: block;
    z-index: 999999;
    background: #fff;
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
       -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
            box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
.dropdown ul ul {
    right: 100%;
    top: 0px;
}
.dropdown ul li {
    color: #333;
    width: 200px;
}
.dropdown ul li a {
    color: #333;
}
.dropdown ul li:hover a,
.dropdown ul li:focus a {
    color: #fff;
}

/**
 * The Content
 * ----------------------------------------------------------------------------
 */

#container {
    background: #f0f1e9;
}
#content {
    padding: 60px 0 40px 0;
}
.code-snippet {
    direction: ltr;
    text-align: left;
}
#content figure {
    margin: 25px 0;
    text-align: center;
}
#content figure img {
    height: auto;
    padding: 5px;
    max-width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
#content figure img:hover {
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
       -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
            box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}
#content figure figcaption {
    color: #4a4a4a;
}

/* Page Header */

#page-header {
    margin: 0 0 20px 0;
    border-bottom: 2px solid #d81e05;
}
#page-title {
    color: #333;
    margin: 0px;
    font: bold 18pt "ge_ss_unique_light";
}

/* Data Table */

.data-table {
    width: 100%;
    margin: 10px 0;
    background: #fff;
    border-collapse: collapse;
    border: 2px solid #c7c8bb;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.data-table:hover,
.data-table:focus {
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
       -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
            box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}
.data-table th {
    color: #fff;
    padding: 5px 15px;
    text-align: center;
    font-weight: normal;
    background: #d81e05;
    border: 1px solid #c7c8bb;
}
.data-table tr {
    background: #fff;
}
.data-table td {
    color: #333;
    padding: 5px;
    text-align: right;
    border: 1px solid #c7c8bb;
}

/* List Table */

.list-table {
    width: 100%;
    margin: 10px 0;
    background: #fff;
    border-collapse: collapse;
    border: 2px solid #c7c8bb;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.list-table:hover,
.list-table:focus {
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
       -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
            box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}
.list-table thead tr {
    background: #d81e05;
}
.list-table thead th {
    color: #fff;
    padding: 5px;
    text-align: right;
    font-weight: normal;
    border: 1px solid #c7c8bb;
}
.list-table tbody tr {
    background: #fff;
}
.list-table tbody td {
    color: #333;
    padding: 5px;
    text-align: right;
    border: 1px solid #c7c8bb;
}

/* Form Block */

.form-block {
}
.form-block > div {
    margin: 10px 0;
}
.form-block label {
    width: 150px;
    display: inline-block;
}

/* Layout Helpers */

.row {
    display: block;
    white-space: nowrap;
}
.row .column {
    white-space: normal;
    display: inline-block;
    vertical-align: top;
}

/* FrontPage Header */

body#page-frontpage #page-header {
    display: none;
}

/* FrontPage Slider */

#wrapper-frontpage-slider {
    width: 760px;
    height: 240px;
    margin: 0 10px;
}
#frontpage-slider {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

/* Filter Donors Form (1) */

#wrapper-filter-donors-1 {
    width: 140px;
    height: 220px;
    padding: 10px;
    margin: 0 10px;
    background: #d81e05;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
#form-filter-donors-1 label {
    color: #fff;
}
#form-filter-donors-1 > div {
    margin: 0 0 10px 0;
}
#form-filter-donors-1 select {
    width: 100%;
    padding: 5px;
    display: block;
}
#form-filter-donors-1 button {
    width: 100%;
    padding: 5px;
}

/* Filter Donors Form (2) */

#form-filter-donors-2 {
    margin: 15px 0;
    display: block;
}
#form-filter-donors-2 > div {
    margin: 0 5px;
    display: inline-block;
}
#form-filter-donors-2 select {
    padding: 5px 10px;
    display: inline-block;
}
#form-filter-donors-2 button {
    padding: 5px 15px;
}

/* FrontPage Blocks */

#blocks {
    margin: 20px 0 0 0;
}
.block {
    width: 280px;
    padding: 10px;
    margin: 0 10px;
    background: #fff;
    min-height: 200px;
    text-align: center;
    border-bottom: 5px solid #d81e05;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.block h3 {
    color: #d81e05;
}

/**
 * The Footer
 * ----------------------------------------------------------------------------
 */

#footer {
    height: 50px;
    padding: 15px 0;
    background: #fff;
}
#footer a {
    color: #d81e05;
    text-decoration: none;
}
#footer a:hover,
#footer a:focus {
    color: #000;
}
.copyrights {
    text-align: center;
}
#secondary-nav {
    text-align: center;
}
#secondary-nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#secondary-nav li {
    margin: 0 4px;
    display: inline-block;
}