<?php
/**
 * System configurations
 *
 * @since 1.2.2
 */

/**
 * Database name.
 *
 * @var   string
 * @since 1.0
 */
define('EBB_DB_NAME', '');

/**
 * MySQL database username.
 *
 * @var string
 * @since 1.0
 */
define('EBB_DB_USER', '');

/**
 * Database password.
 *
 * @var   string
 * @since 1.0
 */
define('EBB_DB_PASS', '');

/**
 * Database host.
 *
 * @var   string
 * @since 1.0
 */
define('EBB_DB_HOST', 'localhost');

/**
 * Database driver.
 *
 * @var   string
 * @since 1.2.3
 */
define('EBB_DB_DRIVER', 'mysqli');

/**
 * Default locale.
 *
 * @var   string
 * @since 1.0
 */
define('EBB_DEFAULT_LOCALE', '');

/**
 * Development Mode.
 *
 * @var   bool
 * @since 1.0
 */
define('EBB_DEV_MODE', false);
